.body {
  position: relative;
  min-height: 100dvh;

  background-color: rgb(0, 1, 29);

  margin: 0;
}

.flexBetween {
  min-height: 100dvh;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
