* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, ul, p, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  text-transform: uppercase;
}

.line {
  background-color: #979797;
  opacity: 0.25;
}

@media screen and (min-width: 1024px) {
  .header-line {
    position: absolute;

    top: 87px;
    transform: translateX(-117px);

    height: 1px;
    width: 200px;
    background-color: #979797;
    opacity: 0.25;

    z-index: 100;
  }
}

@media screen and (min-width: 1230px) {
  .header-line {
    position: absolute;

    top: 87px;
    transform: translateX(-317px);

    height: 1px;
    width: 400px;
    background-color: #979797;
    opacity: 0.25;

    z-index: 100;
  }
}

@media screen and (min-width: 1400px) {
  .header-line {
    position: absolute;

    top: 87px;
    transform: translateX(-477px);

    height: 1px;
    width: 560px;
    background-color: #979797;
    opacity: 0.25;

    z-index: 100;
  }
}
