.crew {
  &Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 32px;

    height: 100%;
  }

  &Section {
    &Info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &Text {
        display: flex;
        flex-direction: column;

        gap: 24px;

        &Titles {
          display: flex;
          flex-direction: column;

          gap: 16px;
        }
      }

      &Nav {
        height: 63px;
        justify-self: flex-end;

        &List {
          display: flex;
          gap: 40px;
        }
      }
    }

    &Picture {
      position: relative;
      overflow: hidden;
    }
  }

  &Titles {
    &Role {
      font-weight: 400;
      font-size: 32px;

      color: #FFF;
      opacity: 0.5;

      text-transform: uppercase;
    }

    &Name {
      font-weight: 400;
      font-size: 56px;

      color: #FFF;

      text-transform: uppercase;
    }
  }

  &Bio {
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;

    color: #D0D6F9;
  }

  &Button {
    height: 15px;
    width: 15px;

    opacity: 0.17;

    border: none;
    border-radius: 50%;

    cursor: pointer;

    &.activeButton {
      opacity: 1;
    }
  }
}
