.header {

  box-sizing: border-box;

  height: 136px;
  padding-top: 40px;
  padding-left: 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  font-size: 16px;
}

.navList {
  display: flex;
  flex-direction: row;
  gap: 48px;

  color: white;

  margin: 0;
  padding: 0;
  padding-left: 159px;
  padding-right: 64px;

  background-color: rgba(256, 256, 256, 0.05);
  backdrop-filter: blur(80);
}

.bold {
  font-weight: 700;
}
