.tech {
  &Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 32px;

    height: 100%;
  }

  &TextSection {
    display: flex;
    gap: 64px;

    &Nav {
      align-self: center;

      &List {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }
    }

    &Info {
      display: flex;
      flex-direction: column;
      gap: 24px;

      &Container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &Title {
          color: #fff;
          font-weight: 400;
          font-size: 32px;
          line-height: 100%;

          opacity: 50%;

          text-transform: uppercase;
        }

        &Name {
          font-size: 56px;
          font-weight: 400;
          color: #fff;

          line-height: 100%;

          text-transform: uppercase;
          text-wrap: nowrap;
        }
      }

      &Description {
        color: #d0d6f9;

        font-weight: 400;
        line-height: 180%;
        font-size: 18px;
      }
    }
  }

  &ImageSection {
    position: relative;
    overflow: hidden;
    height: 100%;
  }

  &Button {
    box-sizing: border-box;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid rgba($color: #fff, $alpha: 0.25);

    background: none;
    color: #fff;

    font-size: 32px;
    font-weight: 400;

    cursor: pointer;
  }
}

.activeButton {
  background-color: #fff;
  color: black;
  border: 1px solid #fff;
}
